body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  font-weight: bold;
}

input, select {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 15px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
}

button.add-part, button.create-traveler {
  padding: 27px 41px; /* 40% taller */
}

button:hover {
  background-color: #555;
}

.part {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

a.button {
  display: inline-block;
  padding: 15px 20px; /* Standard button padding */
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none; /* Remove underline from links */
  text-align: center;
  margin-top: 10px; /* Add some space to separate buttons */
}

a.button:hover {
  background-color: #555;
}

.btn-container {
  text-align: center;
}
